@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@621&display=swap');
*{
  font-family: "Rubik", sans-serif;
    padding: 0;
    margin: 0;
}
a{
    color: white;
    text-decoration: none;
}
body{
    background: linear-gradient(#352323 ,#000000);
    height: 100vh;
}
header{
    background-color: #251b1b52;
    border: #e9b7b75e solid 5px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
      position: sticky;
    top: 0;
      padding: 15px;
    z-index: 1000;
}
a:hover{
    border-bottom: white solid 3px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  padding: 10px;
}

.gallery img {
  width: 100%;
  height: 300px;
  border-radius: 8px;

    width: 220px;
  border-radius: 10px;
  transition: transform 0.4s ease;
}
.gallery img:hover{
      transform: scale(1.05);
}