@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@621&display=swap');
*{
  font-family: "Rubik", sans-serif;
    padding: 0;
    margin: 0;
}
a{
    color: white;
    text-decoration: none;
}
body{
    background: linear-gradient(#201e1e ,#000000);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-image:linear-gradient(to right, #220a0a88 40%, #00000079),
    url(img2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    width: 90%;
    height: 550px;
}
.container:hover{
    background-image:linear-gradient(to right, #220a0a2a 40%, #00000079),
    url(img2.jpg);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    font-size: 30px;
    text-align: center;
    
}
ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    border-bottom: 2px solid transparent; 
}
ul a:hover{
    border-bottom-color: white;
}
.content{
    color: white;
    width: 50%;
    margin-top: 50px;
    padding: 30px;
}
.content h2{
    font-size: 35px;
    width: 400px;
}
.content p{
    width: 300px;
    padding: 20px 0;
}
.content button{
    font-size: 30px;
    margin: 10px 0px;
    padding: 6px 10px;
    border-radius: 10px;
    border: 2px solid transparent;
}
.content button:hover{
    background-color: transparent;
    border-color: white;
    color: white;
    cursor: pointer;
}
